<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kkkk.helloworld">

    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity android:name=".Activity.SplashActiivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.loginActivity">

        </activity>
        <activity android:name=".Activity.findpwdActivity" />
        <activity android:name=".Activity.userinfoActivity">

        </activity>
        <activity android:name=".Activity.settingActivity" />
        <activity android:name=".Activity.noticeActivity" />
        <activity android:name=".Activity.noticedetailActivity" />
        <activity android:name=".Activity.sendnoticeActivity" />
        <activity android:name=".Activity.NowTaskActivity" />
        <activity android:name=".Activity.TaskDetailActivity" />
        <activity android:name=".Activity.DoTaskActivity">

        </activity>
        <activity android:name=".Activity.UserSaetActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d1ae7a0bdb8465e930f8072c50f5c2af"></meta-data>

        <activity android:name=".Activity.SignInActivity"></activity>
        <activity android:name=".Activity.BaseActivity"></activity>
        <activity android:name=".Activity.ChatActivity"></activity>
        <activity android:name=".Activity.ContextMenuActivity"></activity>
        <activity android:name=".Activity.ImageGridActivity"></activity>
        <activity android:name=".Activity.RecorderVideoActivity"></activity>
        <activity android:name=".Activity.CallActivity"></activity>
        <activity android:name=".Activity.VoiceCallActivity"></activity>
        <activity android:name=".Activity.VideoCallActivity"></activity>
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <service
            android:name=".location.LocationService"
            android:process=":remote1">
            <intent-filter>
                <action android:name="com.example.kkkk.helloworld.location.LocationService"></action>
            </intent-filter>
        </service>
        <service
            android:name=".location.LocationHelperService"
            android:process=":remote2">
            <intent-filter>
                <action android:name="com.example.kkkk.helloworld.location.LocationHelperService"></action>
            </intent-filter>
        </service>

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>

        <!-- 开机自启动服务 -->
        <receiver android:name=".receiver.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="easemob-demo#chatdemoui" /> <!-- 1151171113178172#whywxt -->
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.BaseAppActivity"></activity>
    </application>

</manifest>